<article id="post">
    <h1 id="post-title"><%= page.title %></h1>
    <time id="post-date" datetime="<%=page.date.toJSON()%>">
        <%=date(page.date, 'MMMM DD, YYYY')%>
    </time>
    <div id="post-content" class="markdown-body">
        <%- page.content %>
    </div>
</article>

<div id="gitment_container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    id: '<%= page.date %>',
    owner: '<%= theme.gitment.githubID %>',
    repo: '<%= theme.gitment.repo %>',
    oauth: {
        client_id: '<%= theme.gitment.ClientID %>',
        client_secret: '<%= theme.gitment.ClientSecret %>',
    },
})
gitment.render('gitment_container')
</script>

<div id="paginator">
    <%- paginator() %>
</div>

